<% layout("layout") -%>

<div>
  <button id="ocr" class="btn-info" onclick="window.location='/tesseract'">OCR</button>
  <button id="neural" class="btn-info" onclick="window.location='/neural'">Neural Networks</button>
</div>
