<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</head>

<body>
  <div class="container-fluid" id="main_div">
    <form class="was-validated box" action="" method="POST" id="uploadForm" enctype="multipart/form-data">
      <div class="form-group">
        <select id="langSelect" class="custom-select " required>
          <option value="en">English</option>
          <option value="ru">Russian</option>
        </select>
        <button id="submit_btn" class="btn btn-primary btn-md" type="button" onclick="ajaxRequest()">Start
          process</button>
      </div>
      <div id="upload_download row" >
        <div class="file-upload-wrapper col-md-6" id="drug_and_drop">
          <input type="file" class="custom-file-input" onchange="previewFile()" id="validatedCustomFile" name="image"
            accept="image/*" data-max-file-size="5M" required>
          <label id="validatedCustomFileLabel" class="file-upload" for="validatedCustomFile">
            <img id="image_preview" src="./images/ui/drag_and_drop.png" height="400" alt="Image preview...">
          </label>
        </div>
        <div id="download" class="col-md-6">
          <p id="converted_text"></p>
        </div>
      </div>
    </form>
  </div>
</body>

</html>