body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#upload_btn {
  background-color: darkblue;
  color: whitesmoke,
  
}

#submit_btn {
  background-color: darkblue;
  color: whitesmoke
}